@font-face {
    font-family: "mc";
    src: url(./assets/fonts/MouldyCheeseRegular-WyMWG.ttf);
}

@font-face {
    font-family: "sans";
    src: url(./assets/fonts/Sansation-Italic.ttf);
}

@font-face {
    font-family: "sans-light";
    src: url(./assets/fonts/Sansation-Light.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* Header */

header{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

header .header-img img{
    margin-top: 25px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header-words h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 1%;
    margin-left: .5%;
    font-size: 1rem;
}

.header-words h1{
    font-size: 3rem;
    width: 70%;
    font-family: "sans";
} 


/* Projects */

#projects-container {
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:visible;
}


.projects{
    margin-bottom: 5%;
    width: 95%;
    height: 35.5rem;
    padding: 70px 5%;
    border-radius: 10%;
    background-color: blue;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    box-shadow: 1px 2px 1px white;
}


.outer-projects{
    display: flex;
    flex-direction: column;
    gap: 95px;
}

.outer-projects h1{
    font-size: 3.2rem;
    color: #fff;
    font-family: "mc";
    text-align: left;
}

.outer-projects h1 a{
    color: #fff;
    text-decoration: none;
}

.inner-projects{
    display: flex;
    margin-left: -3%;

}

.inner-projects h3{
    font-size: 2rem;
    color: #fff;
    font-family: "mc";
}

.inner-projects h3 span{
    font-size: 1.5rem;
    font-weight: 100;
    font-family: "sans-light";
}

.inner-projects progress{
    margin-top: 2.5%;
    rotate: -90deg;
    height: 30px;
    width: 80px;
    appearance: none;
    color: #fff;

    
&::-webkit-progress-bar { 
    background: transparent;
    border: 1px solid #fff;
  border-radius: 10px;
}

&::-webkit-progress-value {
    background-color: #fff;
    border-radius: 10px;
  }

}

/* Project Buttons */

.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons button {
    margin-top: 10%;
    width: 20%;
    height: 6rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    
}

.buttons button i{
    font-size: 2rem;
}

.addItems{    
    border: 1px solid white;


    &:hover{
        background-color: white;
    }

    &:hover i{
        color: black;
    }


}

.addItems i {
    color: hsla(0, 0%, 100%, 0.805);
}


.dBtn{
border: 1px solid white;

&:hover {
    background-color: white;
}

&:hover i{
    color: black;
} 

}

.dBtn i{
    color: white;
}

/* Project Button Dropdowns */


.dropdown{
    background: gray;
    width: 35%;
    position: relative;
    z-index: 1;
    padding: 1%;
    margin-top: -18%;
    margin-left: -5%;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    display: none;
}

.dropdown.show{
    display: block;
}

.dropdown-items{
    list-style: none;
}



.dropdown-links button{
    text-align: left;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    height: 2rem;

    &:nth-child(1),&:nth-child(2){
        margin-bottom: 2%;
        
    }

}



.dropdown-links a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Modals */

.MyModal{
    background-color: white;
    z-index: 1;
    font-family: "sans"
}

/* Edit Background Modal */

#editBGModal{
    width: 40%;
    height: 100vh;
    position: absolute;
    padding: 10px 3%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    display: none;
}

#editBGModal span button{
    cursor: pointer;
    font-size: 15px;
    padding: 20px 20px;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;


    &:hover {
        background-color: #000;
        color: #fff;
    }
}

#editBGModal h1{
    font-size: 2.5rem;
 
}


#editBGModal #editBGContent {
    padding: 10px 3%;
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Edit Background Modal Tabs*/


.tabs{
    display: flex;
    gap: 10px;
    width: 110%;
}

.tabs button{
    border: none;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    margin-bottom: 10%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 700;
}

.tabs button.active{
    background: #000;
    color: #fff;
}

.tabs button:hover{
    background: #000;
    color: #fff;
}

/* Edit Background Modal Color TabContent */


#BGColor form{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 5%;
    color: #fff;
}


#BGColor form label{
   margin-left: -130%;
   color: #000;
}


#BGColor form input{
    width: 230%;
    height: 15rem;
    margin-bottom: 90%;
}


#BGColor form button{
    background: hsl(0, 0%, 90%);
    color: #000;
    font-weight: 600;
    cursor: pointer;
    font-family: "sans";
    width: 230%;
    height: 3rem;
    border-radius: 25px;
    border: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-size: 1.2rem;

    &:hover {
        color: #fff;
        background: #000;
    }

}

/* Edit Background Modal Image TabContent */


#BGImage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#BGImage form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#BGImage h1{
    font-size: 2.1rem;
    font-weight: 100;
}

#BGImage form button{
    background: hsl(0, 0%, 90%);
    color: #000;
    font-weight: 600;
    cursor: pointer;
    font-family: "sans";
    width: 85%;
    height: 3rem;
    position: absolute;
    bottom: 2.5%;
    border-radius: 25px;
    border: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-size: 1.2rem;

    &:hover {
        color: #fff;
        background: #000;
    }

}

#imageFile::-webkit-file-upload-button{
    width: 100%;
    height: 2.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
    background-color: lightblue;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;

    &:hover{
        background-color: #000;
    }

    &:active{
        background-color: #000;
    }
}



figure{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

figure img{
    width: 200px;
    height: 200px;
}

figure figcaption{
    font-size: 1.5rem;
    margin-bottom: 2.5%;
}



/* Edit Project Title Modal */

#editTitle{
    width: 40%;
    height: 100vh;
    position: absolute;
    padding: 10px 3%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    display: none;
}


#editTitle span button{
    cursor: pointer;
    font-size: 15px;
    padding: 20px 20px;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;


    &:hover {
        background-color: #000;
        color: #fff;
    }
}

#editTitle #editTitleContent {
    padding: 10px 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#editTitleContent form{
    width: 175%;
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#editTitleContent form label{
    font-size: 1.8rem;
    text-align: left;
}

#editTitleContent form input{
    width: 50%;
    height: 3rem;
    padding: 20px 10px;
    font-size: 1rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 1px solid grey;
}

#editTitleContent button{
    background: hsl(0, 0%, 90%);
    color: #000;
    font-weight: 600;
    cursor: pointer;
    font-family: "sans";
    width: 85%;
    height: 3rem;
    position: absolute;
    bottom: 2.5%;
    border-radius: 25px;
    border: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-size: 1.2rem;

    &:hover {
        color: #fff;
        background: #000;
    }
}


/* Delete Project Modal */


#deleteProject{
    width: 40%;
    height: 100vh;
    position: absolute;
    padding: 10px 3%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    display: none;
}

#deleteProject span button{
    cursor: pointer;
    font-size: 15px;
    padding: 20px 20px;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;


    &:hover {
        background-color: #000;
        color: #fff;
    }
}

#deleteProject #deleteProjectContent {
    text-align: center;
    padding: 5px 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(0,250%);
    -webkit-transform: translate(0,250%);
    -moz-transform: translate(0,250%);
    -ms-transform: translate(0,250%);
    -o-transform: translate(0,250%);
}

#deleteProjectContent #answerbuttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    position: absolute;
    bottom: -500%;
}

#answerbuttons button{
    background: hsl(0, 0%, 90%);
    color: #000;
    font-weight: 600;
    cursor: pointer;
    font-family: "sans";
    width: 85%;
    height: 3rem;
    border-radius: 25px;
    border: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-size: 1.2rem;


    &:hover {
        color: #fff;
        background: #000;
    }
}

#addTask {
    width: 40%;
    height: 100vh;
    position: absolute;
    padding: 10px 3%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    display: none;
}

#addTask span button{
    cursor: pointer;
    font-size: 15px;
    padding: 20px 20px;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;


    &:hover {
        background-color: #000;
        color: #fff;
    }
}

#addTask #task-content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

}

#addTask form {
    margin-top: -30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

#addTask form label{
    text-align: left;
   
}

#addTask form input{
    height: 4rem;
    width: 85%;
    padding: 10px 15px;
    font-size: 1.1rem;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: 1px solid grey;
}


#addTask form button{
    position: absolute;
    bottom: 2.5%;
    left: 10%;
    background: hsl(0, 0%, 90%);
    color: #000;
    font-weight: 600;
    cursor: pointer;
    font-family: "sans";
    width: 70%;
    height: 3rem;
    border-radius: 25px;
    border: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-size: 1.2rem;


    &:hover {
        color: #fff;
        background: #000;
    }
}






/* only mobile responsiveness */
@media (max-width:375px) {
    header{
        width: 100%;
        padding: 20px;
    }    

    header .header-img img{
        margin-top: 17.5px;
        margin-left: -5%;
        width: 70px;
        height: 70px;
    }
    
    .header-words h5{
        margin-bottom: 1%;
        font-size: 0.7rem;
    }
    
    .header-words h1{
        font-size: 1.91rem;
        width: 80%;
    } 

    #projects-container{
        width: 100%;
        height: 110%;
    }

    .projects{
        width: 95%;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
}

    .outer-projects{
        gap: 120px;
    }
    
    .outer-projects h1{
        width: 60%;
        padding-left: 10px;
        font-size: 2.2rem;
        letter-spacing: 3px;
    }
    
    
    .inner-projects h3{
        margin-left: -1%;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
    
    .inner-projects h3 span{
        font-size: 1.1rem;
        letter-spacing: 0;
        font-weight: 100;
    }
    
    .inner-projects progress{
        
        height: 20px;
        width: 60px;
    }
    
    /* Project Buttons */
    .buttons{
        justify-content: space-between;
    }
    
    .buttons button {
        margin-top: -.1%;
        width: 70px;
        height: 70px;
}
    
    .buttons button i{
        font-size: 1.3rem;
    }
    
}





@media (min-width:376px) and (max-width:600px) {
    header{
        width: 100%;
        padding: 20px;
    }    

    header .header-img img{
        margin-top: 17.5px;
        margin-left: -5%;
        width: 70px;
        height: 70px;
    }
    
    .header-words h5{
        margin-bottom: 1%;
        font-size: 0.7rem;
    }
    
    .header-words h1{
        font-size: 1.91rem;
        width: 80%;
    } 

    #projects-container{
        width: 100%;
        height: 110%;
    }

    .projects{
        width: 95%;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
}

    .outer-projects{
        gap: 140px;
    }
    
    .outer-projects h1{
        width: 60%;
        padding-left: 10px;
        font-size: 2.2rem;
        letter-spacing: 3px;
    }
    
    
    .inner-projects h3{
        margin-left: -1%;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
    
    .inner-projects h3 span{
        font-size: 1.1rem;
        letter-spacing: 0;
        font-weight: 100;
    }
    
    .inner-projects progress{
        
        height: 20px;
        width: 60px;
    }
    
    /* Project Buttons */
    .buttons{
        justify-content: space-between;
    }
    
    .buttons button {
        margin-top: -.1%;
        width: 70px;
        height: 70px;
}
    
    .buttons button i{
        font-size: 1.3rem;
    }
    
}

